@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-black font-['Segoe_UI'] text-slate-500;
  }
}

@layer components {
  .text-twitter {
    @apply text-[#1d9bf0];
  }

  .border-twitter {
    @apply border-[#1d9bf0];
  }

  .bg-twitter {
    @apply bg-[#1d9bf0];
  }

  .bg-twitter\/10 {
    @apply bg-[#1d9bf0]/10;
  }

  .bg-twitter\/50 {
    @apply bg-[#1d9bf0]/50;
  }

  .bg-twitter\/70 {
    @apply bg-[#1d9bf0]/70;
  }

  .hoverAnimation {
    @apply h-[52px] w-[52px] cursor-pointer rounded-full transition duration-200 ease-out hover:bg-slate-200/10 xl:h-auto xl:w-fit xl:py-3 xl:pr-6 xl:pl-4;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.public-DraftEditorPlaceholder-root {
  z-index: -1;
  color: #64748b;
  font-weight: 500;
  width: fit-content;
  position: absolute;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #1d9bf0;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
